{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image mt-3">
                            <img class="nav-profile-img rounded-circle" src="{{ '/uploads/avatar_profile.png'  }}" style="width: 50%; height: auto" alt="Image de la figure">
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad ">
                            <h3>Bon retour parmi nous {{ app.user.username }}</h3>
                            <p>Gérez vos informations, ainsi que la confidentialité et la sécurité de vos données pour profiter au mieux de nos services </p>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-6 user-pad text-center">
                        <h3 class="h5 font-weight-normal">VOS FIGURES AJOUTEES</h3>
                        <h4>{{ app.user.tricks|length }} </h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3 class="h5 font-weight-normal">VOS COMMENTAIRES POSTES</h3>
                        <h4>{{ app.user.comments|length }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

