{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
        <div class="row user-menu-container square text-center">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image m-2">
                            <a href="{{ path('user_account_update', {user: app.user.username}) }}" class="user-image">
                                {% if app.user.avatarFilename %}
                                    <img class="nav-profile-img rounded-circle width-full height-full" src="{{ app.user.avatarPath | imagine_filter('avatar_medium') }}" alt="photo de profil" title="Changer votre photo de profil">
                                {% else %}
                                <img class="nav-profile-img rounded-circle" src="{{ '/uploads/user_avatar.jpg' }}" style="width: auto; height: auto" alt="photo de profil" title="Changer votre photo de profil">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad ">
                            <h3>Bienvenue sur votre espace personnel {{ app.user.username }}</h3>
                            <p>Gérez vos informations, ainsi que la confidentialité et la sécurité de vos données pour profiter au mieux de nos services </p>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-6 user-pad text-center">
                        <h3 class="h5 font-weight-normal">VOS FIGURES AJOUTEES</h3>
                        <h4>{{ app.user.tricks|length }} </h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3 class="h5 font-weight-normal">VOS COMMENTAIRES POSTES</h3>
                        <h4>{{ app.user.comments|length }}</h4>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

