{{ form_start(formTrick, {'attr' : {'novalidate': "novalidate"} }) }}

    {{ form_row(formTrick.title, {'label' : "Nom",'attr' : {'placeholder' : "Nom de la figure"}}) }}
    {{ form_row(formTrick.tricksGroup, {'label' : "Groupe"}) }}
    {{ form_row(formTrick.description, { 'attr' : {'placeholder' : "Description de la figure"}}) }}
    {{ form_row(formTrick.imageFile, {'label' : "Ajouter une image",
        'attr' : {'placeholder' : "Choisir une image"}}) }}

<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

{{ form_end(formTrick) }}