{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4 text-center">
    <h1>Bienvenue dans le monde du Snowboard !</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        {% for trick in tricks %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if trick.imageFilename %}
                    <img class="trick-img" src="{{ trick.imagePath | imagine_filter('small') }}" alt="Image de la figure">
                    {% else %}
                    <img class="trick-img" src="{{ '../uploads/empty.jpg' }}" style="width: 100%; height: auto" alt="Image de la figure">
                    {% endif %}
                    <div class="card-body">
                        <a href="{{ path( 'trick_show', {'id': trick.id} ) }}" >{{trick.title}}</a> &nbsp
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                        <form method="post" action="{{ path('trick_delete', {id: trick.id}) }}" style="display: inline-block"
                              onsubmit="return confirm('Etes-vous sûr de bien vouloir supprimer cette figure ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn btn-outline border-0" ><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}




