{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 text-center">
        <h2>{{trick.title}}</h2>

        {% if app.user %}
            <div class="card-body text-right">
                <a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                <form method="post" action="{{ path('trick_delete', {id: trick.id}) }}" style="display: inline-block"
                      onsubmit="return confirm('Etes-vous sûr de bien vouloir supprimer cette figure ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    <button class="btn btn-outline border-0" ><i class="far fa-trash-alt"></i></button>
                </form>
            </div>
        {% endif %}

        {% if trick.imageFilename %}
            <img class="trick-img" src="{{ trick.imagePath | imagine_filter('medium') }}" alt="Image de la figure" style="width: 100%; height: auto">
        {% else %}
            <img class="trick-img" src="{{ '../uploads/empty.jpg'  }}" style="width: 100%; height: auto" alt="Image de la figure">
        {% endif %}

        <hr>
        <div class="row">
        {% for trickImageCollection in trick.trickImages %}
            <div class="col-md-2">
                <div class="card mb-3">
                    <a href="{{ uploaded_asset(trickImageCollection.filePath) }}" target="_blank">
                        <img class="trick-img" src="{{ trickImageCollection.filePath | imagine_filter('small') }}" alt="Image de la figure" style="width: 100%; height: auto" >
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <p> {{trick.description | raw}} </p>
        <hr>
        <div class="metadata mb-4">Ajoutée le {{trick.createdAt | date('d/m/y')}} à {{trick.createdAt | date('H:i')}}
            dans le groupe : {{ trick.tricksGroup.title }}
        </div>
        <hr>
    </div>
{% endblock %}