{{ form_start(formTrick, {'attr': {'novalidate': "novalidate"} }) }}

    {{ form_row(formTrick.title, {'label': "Nom",'attr' : {'placeholder': "Nom de la figure"}}) }}
    {{ form_row(formTrick.tricksGroup, {'label': "Groupe"}) }}
    {{ form_row(formTrick.description, {'attr': {'placeholder': "Description de la figure", 'rows': 6} }) }}


    <div class="row">
        <div class="col-sm-5">
            {{ form_row(formTrick.imageFile, {'label': "Image à la une",
                'attr': {'placeholder': "Choisir une image"}}) }}
        </div>
        <div class="col-sm-3">
            {% if formTrick.vars.data.imageFilename |default %}
                <a href="{{ uploaded_asset(formTrick.vars.data.imagePath) }}" target="_blank">
                    <img src="{{ formTrick.vars.data.imagePath|imagine_filter('small') }}" height="100">
                </a>
            {% endif %}
        </div>
    </div>

{{ form_row(formTrick.videos, {'label': "La liste des Vidéos"} ) }}

<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

{{ form_end(formTrick) }}
