{% extends 'base.html.twig' %}

{% block title %}Editer une figure{% endblock %}

{% block body %}
    <div class="edit_trick_container text-center">
        <h1 class="h3 mb-3 mt-3 font-weight-normal">Editer la figure</h1>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <h3>Details</h3>
                {{ include('admin/_form.html.twig', { button: 'Editer la figure'}) }}
            </div>
            <div class="col-sm-4">
                <h3 >Images</h3>
                <ul class="list-group small js-trickImage-list" data-url="{{ path('admin_trick_list_images', {id: trick.id}) }}"></ul>
                <hr>
                <form action="{{ path('admin_trick_add_image', {id: trick.id}) }}" method="POST"
                      enctype="multipart/form-data" class="dropzone js-trickImage-dropzone">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script src="{{ asset('js/addVideos.js') }}"></script>
    <script src="{{ asset('js/admin_trick_form.js') }}"></script>
{% endblock %}




